body, html {
    height: 100%;
    margin: 0;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header, footer {
    width: 100%;
    background-color: #00000;
    color: #fff;
    padding: 20px 0;
}

main {
    flex-grow: 1;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.hero {
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
